body{
    background-color: black;
    display:flex;
    justify-content: center;
    color: white;

}

button{
    width:80px;
    height:80px;
  
}

.mainContainer{
    border:2px red solid;
    width:400px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}

.calcFunctions, .calcNums{
    border: 1px white solid;
    display:flex;
    justify-content: center;
    flex-direction:row ;
    flex-wrap: wrap;
    
}